@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-main-col: #f5f5f5;
  --color-main-accent: #252525;
  --color-seconday-col: #3b3b3b;
  --color-accent-soft: #ede9fe;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

button {
  cursor: pointer;
}

.loginBackground {
  position: relative;
  background-image: url("/assets/images/slider1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.loginBackground::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

.loginBackground > * {
  position: relative;
  z-index: 1;
}

